<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Information Section</title>
  </head>
  <body>
    <div class="text-center">
      <font face="Century Gothic"><h1 class="mt-5 mb-5">INFORMATION</h1></font>
    </div>
    <section class="container my-5" id="maincontent">
      <section id="accordion">
        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-17" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
          <div class="position-relative">
            <font face="Times New Roman"><h2 class="h4 m-0 pr-3">
              Red Blood Count (RBC) ?
            </h2>
          </div>
        </a>
        <div class="collapse" id="faq-17" style="">
          <div class="card card-body border-0 p-0">
            <p>Menghitung jumlah total sel darah merah dalam satuan 10<sup>6</sup>/µL.</p>
  
          </div>
        </div>
  
        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-18" aria-expanded="false" data-toggle="collapse" href="#faq-18" role="button">
          <div class="position-relative">
            <h2 class="h4 m-0 pr-3">
              Hemoglobin (HGB) ?
            </h2>
          </div>
        </a>
        <div class="collapse" id="faq-18" style="">
          <div class="card card-body border-0 p-0">
            <p>Protein dalam sel darah merah yang memberikan warna merah pada darah dan bertugas mengangkut oksigen dalam satuan g/dL.</p>
            <p>
            </p>
          </div>
        </div>
  
        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-19" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
          <div class="position-relative">
            <h2 class="h4 m-0 pr-3">
              Hematocrit (HCT) ?
            </h2>
          </div>
        </a>
        <div class="collapse" id="faq-19" style="">
          <div class="card card-body border-0 p-0">
            <p>Kadar sel darah merah dalam darah dalam satuan persen (%).</p>
            <p>
            </p>
          </div>
        </div>

        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-20" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
          <div class="position-relative">
            <h2 class="h4 m-0 pr-3">
              Mean Corpuscular Volume (MCV) ?
            </h2>
          </div>
        </a>
        <div class="collapse" id="faq-20">
          <div class="card card-body border-0 p-0">
            <p>Nilai yang menggambarkan ukuran sel darah merah atau eritrosit di tubuh manusia dalam satuan fL.</p>
            <p>
            </p>
          </div>
        </div>
  
        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-21" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
          <div class="position-relative">
            <h2 class="h4 m-0 pr-3">
              Mean Corpuscular Hemoglobin (MCH) ?
            </h2>
          </div>
        </a>
        <div class="collapse" id="faq-21">
          <div class="card card-body border-0 p-0">
            <p>Pengukuran yang menjelaskan jumlah rata-rata hemoglobin dalam satu sel darah merah (eritrosit) dalam satuan pg.</p>
            <p>
            </p>
          </div>
        </div>
  
        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-22" aria-expanded="false" data-toggle="collapse" href="#faq-22" role="button">
          <div class="position-relative">
            <h2 class="h4 m-0 pr-3">
              Mean Corpuscular Hemoglobin Concentration (MCHC) ?
            </h2>
          </div>
        </a>
        <div class="collapse" id="faq-22">
          <div class="card card-body border-0 p-0">
            <p>Perhitungan konsentrasi atau kadar rata-rata hemoglobin di dalam satu sel darah merah dalam satuan persen (%)</p>
            <p>
            </p>
          </div>
        </div>

        <a class="py-3 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-23" aria-expanded="false" data-toggle="collapse" href="#faq-23" role="button">
          <div class="position-relative">
            <h2 class="h4 m-0 pr-3">
              Red Cell Distribution Width (RDW) ?
            </h2>
          </div>
        </a>
        <div class="collapse" id="faq-23">
          <div class="card card-body border-0 p-0">
            <p>Perhitungan untuk melihat variasi ukuran sel darah merah dalam satuan persen (%)</p>
            <p>
            </p>
          </div>
          </font>
        </div>
      </section>
    </section>
  </body>
</html>